@font-face {
  font-family: "Aeonik";
  src: url("/AeonikTRIAL-Bold.otf");
  font-weight: Bold;
}
@font-face {
  font-family: "Aeonik";
  src: url("/AeonikTRIAL-Light.otf");
  font-weight: Light;
}
@font-face {
  font-family: "Aeonik";
  src: url("/AeonikTRIAL-Regular.otf");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* .hide {
  display: none;
} */
body {
  background-color: #f7f7f7;
}
.Body2 {
  position: relative;
  top: 85px;
  border-radius: 7px;
}
.hidden {
  display: none;
}
.Body2 .inner {
  min-height: 200px;
  height: 100%;
  padding: 15px;
  background: rgb(3, 3, 90);
  border-radius: 7px;
  margin: 10px;
}
.Body2 h2 {
  font-size: 24px;
  font-family: "Aeonik", sans-serif;
  color: white;
}
.Body2 p {
  font-size: 1rem;
  margin: 5px 0px 17px;
  color: rgb(230, 230, 230);
  font-weight: 400;
  font-family: "Aeonik", sans-serif;
}
.Body2 .inner .process {
  display: flex;
  justify-content: space-around;
  background-color: #3c3006;
  padding: 14px 0px;
  border: none;
  margin-top: 0px;
  z-index: 9;
  color: rgb(51, 51, 51);
  border-radius: 10px;
}
.Body2 .inner .pro {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
}
.inner .bg-img {
  position: absolute;
  right: 0px;
  top: 40px;
}
.balances {
  margin-top: 30px;
}
.Balance {
  font-size: 24px;
  font-family: "Aeonik", sans-serif;
  font-weight: Bold;
  margin: 0px 0px 17px;
  color: #27303d;
  margin-left: 10px;
}
.Balance-content {
  display: flex;
  padding: 20px;
  flex-direction: row;
  overflow-x: scroll;
  box-sizing: border-box;
}
.Balance-cards {
  flex: 1 1 0%;
  min-width: 258px;
  height: auto;
  min-height: 143px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 0.75rem;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.card-content h4 {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  padding-bottom: 55px;
  padding-left: 20px;
  font-size: 14px;
  font-family: "Aeonik", sans-serif;
  color: #333333;
  font-weight: bold;
}
.card-content h4 .image {
  margin-right: 10px;
}
.card-content .avail span {
  font-size: 12px;
  font-family: "Aeonik", sans-serif;
  color: #808080;
}
.card-content .avail {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 110px;
  padding-top: 0px;
  padding-left: 20px;
  align-self: self-end;
}
.card-content .avail p {
  font-size: 36px;
  font-family: "Aeonik", sans-serif;
  color: #333333;
  font-weight: bold;
  white-space: pre-line;
}
.card-content .avail img {
  position: relative;
  left: 170%;
  width: 20px;
  bottom: 40px;
}
.actions {
  margin: 70px 10px 30px 10px;
}
.action {
  font-size: 24px;
  font-family: "Aeonik", sans-serif;
  font-weight: Bold;
  margin: 0px 0px 17px;
  color: #27303d;
}
.Action-btn article {
  display: block;
}
.Action-btn h4 {
  font-size: 24px;

  margin: 30px;
  color: rgb(39, 48, 61);
  line-height: 29px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Aeonik", sans-serif;
}
.Action-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.Action-btn a {
  flex: 1 1 0%;
  height: 147px;
  min-height: 130px;
  margin-right: 0px;
  border-radius: 10px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
.trans-rec {
  padding: 20px;
}
.tran-rec p {
  font-size: 24px;
  font-family: "Aeonik", sans-serif;
  font-weight: Bold;
  margin: 0px 0px 17px;
  color: #27303d;
}
.rec-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Aeonik";
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-align: center;
  background-color: #ffffff;
  min-height: 400px;
  height: 100%;
  margin: auto;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
}
.Rates {
  margin: 30px;
  margin-bottom: 50px;
}
.Rate {
  font-size: 24px;
  font-family: "Aeonik", sans-serif;
  font-weight: Bold;
  margin: 0px 0px 17px;
  color: #27303d;
}
.Rate-form {
  min-height: 350px;
  height: 100%;
  margin: auto;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
  background-color: #ffffff;
  align-items: flex-start;
}
.Rate-form span {
  color: black;
  font-size: 25px;
  font-family: "Aeonik";
  margin: 30px;
}
.Rate-form p {
  color: black;
  font-size: 40px;
  font-family: "Aeonik", sans-serif;
  font-weight: bold;
  margin: 20px 0px 40px 30px;
}
.rate-calculator-form {
  margin: 20px;
}
.rate-calculator-form_input label {
  font-size: 14px;
  font-family: "Aeonik", sans-serif;
  color: black;
}
.form-input input[type="text"] {
  margin-right: 0px;
  border: none;
  background: transparent;
}
.form-input {
  display: flex;
  justify-content: space-around;
  padding: 8px 80px;
  border-radius: 7px;
  border: 1px solid rgb(229, 233, 241);
  margin: 20px 0px;
}
.form-input select {
  padding: 6px 40px;
  background: rgb(231, 240, 254) !important;
  border: none !important;
  border-radius: 20px !important;
}
.form-input select option {
  background-color: #ffffff;
}
.space {
  margin: 50px;
}

@media only screen and (min-width: 750px) {
  .Body2 {
    position: relative;
    top: 55px;
    border-radius: 7px;
  }
  .Body2 .inner {
    height: 200px;
    padding: 15px;
    background: rgb(3, 3, 90);
    border-radius: 7px;
    margin: 10px;
  }
  .Body2 h2 {
    font-size: 26px;
    font-family: "Aeonik", sans-serif;
    color: white;
  }
  .Body2 p {
    font-size: 1.3rem;
    margin: 5px 0px 17px;
    color: rgb(230, 230, 230);
    font-weight: 400;
    font-family: "Aeonik", sans-serif;
  }

  .balances {
    margin-top: 30px;
  }
  .Balance {
    font-size: 24px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
    margin-left: 10px;
  }
  .Balance-content {
    display: flex;
    padding: 20px;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
  }
  .Balance-cards {
    flex: 1 1 0%;
    height: auto;
    min-height: 143px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 0.75rem;
  }
  .actions {
    margin: 70px 10px 30px 10px;
  }
  .action {
    font-size: 24px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
  }
  .Action-btn article {
    display: block;
  }
  .Action-btn h4 {
    font-size: 20px;
    margin: 10px;
    color: rgb(39, 48, 61);
    line-height: 29px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Aeonik", sans-serif;
  }
  .Action-btn {
    display: flex;
    flex-direction: row;

    align-items: center;
  }
  .Action-btn a {
    flex: 1 1 0%;
    height: 147px;
    min-height: 130px;
    margin-right: 5px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    overflow: hidden;
  }
  .Rate {
    margin-top: 50px;
  }
  .trans-rec {
    margin: 30px;
  }
  .tran-rec p {
    font-size: 24px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
  }
  .rec-form {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Aeonik";
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-align: center;
    background-color: #ffffff;
    min-height: 400px;
    height: 100%;
    margin: auto;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 6px;
  }
  .Rates {
    margin: 30px;
    margin-bottom: 50px;
  }
  .Rate {
    font-size: 20px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
  }
  .Rate-form {
    min-height: 350px;
    margin: auto;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 6px;
    background-color: #ffffff;
    align-items: flex-start;
  }
  .Rate-form span {
    color: black;
    font-size: 25px;
    font-family: "Aeonik";
    margin: 30px;
  }
  .Rate-form p {
    color: black;
    font-size: 48px;
    font-family: "Aeonik", sans-serif;
    font-weight: bold;
    margin: 20px 0px 40px 30px;
  }
  .rate-calculator-form {
    margin: 20px;
  }
  .rate-calculator-form_input label {
    font-size: 14px;
    font-family: "Aeonik", sans-serif;
    color: black;
  }
  .form-input input[type="text"] {
    margin-right: 40px;
    border: none;
  }
  .form-input {
    display: flex;
    justify-content: space-around;
    padding: 8px 80px;
    border-radius: 7px;
    border: 1px solid rgb(229, 233, 241);
    margin: 20px 0px;
  }
  .form-input select {
    padding: 6px 40px;
    background: rgb(231, 240, 254) !important;
    border: none !important;
    border-radius: 20px !important;
  }
  .form-input select option {
    background-color: #ffffff;
  }
  .space {
    margin: 50px;
  }
  .space {
    margin: 50px;
  }
  
}
@media only screen and (min-width: 1200px) {
  .Body2 {
    position: relative;
    top: 135px;
    border-radius: 7px;
    display: block;
  }
  .hidden {
    display: none;
  }
  .Body2 .inner {
    height: 200px;
    padding: 15px;
    background: rgb(3, 3, 90);
    border-radius: 7px;
    margin: 10px;
  }
  .Body2 h2 {
    font-size: 26px;
    font-family: "Aeonik", sans-serif;
    color: white;
  }
  .Body2 p {
    font-size: 1.3rem;
    margin: 5px 0px 17px;
    color: rgb(230, 230, 230);
    font-weight: 400;
    font-family: "Aeonik", sans-serif;
  }

  .balances {
    margin-top: 30px;
  }
  .Balance {
    font-size: 24px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
    margin-left: 10px;
  }
  .Balance-content {
    display: flex;
    padding: 20px;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
  }
  .Balance-cards {
    flex: 1 1 0%;
    height: auto;
    min-height: 143px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 0.75rem;
  }
  .actions {
    margin: 70px 10px 30px 10px;
  }
  .action {
    font-size: 24px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
  }
  .Action-btn article {
    display: block;
  }
  .Action-btn h4 {
    font-size: 20px;
    margin: 10px;
    color: rgb(39, 48, 61);
    line-height: 29px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Aeonik", sans-serif;
  }
  .Action-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Action-btn a {
    flex: 1 1 0%;
    height: 147px;
    min-height: 130px;
    width: 100%;
    margin-right: 5px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    overflow: hidden;
  }
  .Rate {
    margin-top: 50px;
  }
  .trans-rec {
    margin: 30px;
  }
  .tran-rec p {
    font-size: 24px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
  }
  .rec-form {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Aeonik";
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-align: center;
    background-color: #ffffff;
    min-height: 400px;
    height: 100%;
    margin: auto;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 6px;
  }
  .Rates {
    margin: 30px;
    margin-bottom: 50px;
  }
  .Rate {
    font-size: 20px;
    font-family: "Aeonik", sans-serif;
    font-weight: Bold;
    margin: 0px 0px 17px;
    color: #27303d;
  }
  .Rate-form {
    min-height: 350px;
    margin: auto;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 6px;
    background-color: #ffffff;
    align-items: flex-start;
  }
  .Rate-form span {
    color: black;
    font-size: 25px;
    font-family: "Aeonik";
    margin: 30px;
  }
  .Rate-form p {
    color: black;
    font-size: 48px;
    font-family: "Aeonik", sans-serif;
    font-weight: bold;
    margin: 20px 0px 40px 30px;
  }
  .rate-calculator-form {
    margin: 20px;
  }
  .rate-calculator-form_input label {
    font-size: 14px;
    font-family: "Aeonik", sans-serif;
    color: black;
  }
  .form-input input[type="text"] {
    margin-right: 40px;
    border: none;
  }
  .form-input {
    display: flex;
    justify-content: space-around;
    padding: 8px 80px;
    border-radius: 7px;
    border: 1px solid rgb(229, 233, 241);
    margin: 20px 0px;
  }
  .form-input select {
    padding: 6px 40px;
    background: rgb(231, 240, 254) !important;
    border: none !important;
    border-radius: 20px !important;
  }
  .form-input select option {
    background-color: #ffffff;
  }
  
}
