@font-face {
  font-family: "Aeonik";
  src: url("/AeonikTRIAL-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Aeonik";
  src: url("/AeonikTRIAL-Light.otf");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-image: url("svg/backgroungimg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Non-reg-form {
  display: none;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav{
  position: relative;
  top: 0px;
  background-color: white;
  border: 1px solid rgb(229, 233, 241);
  border-radius: 8px;

}
.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px;

}
.nav ul li{
padding-left: 10px;
font-size: 15px;
font-family: 'Aeonik';
font-weight: bold;
}
.nav ul li span{
background-color: darkblue;
color: white;
padding: 3px 8px;
border-radius: 100px;
}







.Doc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(229, 233, 241);
  height: 1050px;
  width: 360px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 30px;  
  margin-top: 50px;
}
.Doc-text {
  margin: 15px;
  align-self: flex-start;
}
.Doc-text h3 {
  font-family: "Aeonik", sans-serif;
  text-align: left;
  margin-bottom: 30px;
  font-size: 21px;
  color: #333333;
  font-weight: bold;
}
hr {
  background-color: black;
  align-self: center;
  width: 340px;
  height: 2px;
  margin: 5px 3px;
}
.Doc-form .DOB,
.Gender,
.job,
.country,
.state,
.city,
.add,
.bill,
.purpose {
  align-self: flex-start;
  padding-left: 25px;
  font-size: 14px;
  font-family: "Aeonik";
  color: #444a58;
}

.Doc-form  select {
  font-family: "Aeonik";
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 233, 241);
  box-sizing: border-box;
  padding: 12px 107px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #222;
}
.Doc-form  .purposes{
  font-family: "Aeonik";
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 233, 241);
  box-sizing: border-box;
  padding: 12px ;
  width: 340px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #222;
}


.Doc-form input[type="text"],
input[type="date"] {
  font-family: "Aeonik";
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 233, 241);
  box-sizing: border-box;
  padding: 12px 89px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #222;
}
.Doc-form  input[type="date"] {
  font-family: "Aeonik";
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 233, 241);
  box-sizing: border-box;
  padding: 12px 110px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #222;
}

.Doc-form input[type="file"] {
  font-family: "Aeonik";
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 233, 241);
  box-sizing: border-box;
  padding: 11px 22px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: rgb(34, 34, 34) !important;
}
.rule {
padding: 10px;
}
.rule ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rule ul li{
  list-style: none;
  font-size: 15px;
  font-family: 'Aeonik';
  font-weight: bold;
}
.rule ul img {
  width: 16px;
}

.Doc-btn {
  width: 340px;
  height: 40px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  background: rgb(242, 242, 242);
  cursor: not-allowed;
}
.Doc-btn a {
  color: rgb(191, 191, 191);
  text-decoration: none;
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.lang .language {
  font-size: 14px;
  font-family: "Aeonik";
  font-weight: bold;
}
.lang .choose {
  margin: 2px;
  border-radius: 9px;
  width: 100px;
  height: 35px;
  border: none;
  background-color: #f0f6fe;
  border: none;
}
@media only screen and (min-width: 767px){
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav{
    position: inherit;
    background-color: white;
    border: 1px solid rgb(229, 233, 241);
    border-radius: 8px;
  
  }
  .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 10px;
  
  }
  .nav ul li{
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Aeonik';
  font-weight: bold;
  }
  .nav ul li span{
  background-color: darkblue;
  color: white;
  padding: 3px 8px;
  border-radius: 100px;
  }
  .Doc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(229, 233, 241);
    height: 870px;
    width: 470px;
    background-color: white;
    border-radius: 8px;
  }
  .Doc-text {
    margin: 15px;
    align-self: flex-start;
  }
  .Doc-text h3 {
    font-family: "Aeonik", sans-serif;
    text-align: left;
    margin-bottom: 30px;
    font-size: 21px;
    color: #333333;
    font-weight: bold;
  }
  hr {
    background-color: black;
    align-self: center;
    width: 340px;
    height: 2px;
    margin: 5px 3px;
  }
  .Doc-form .DOB,
  .Gender,
  .job,
  .country,
  .state,
  .city,
  .add,
  .bill,
  .purpose {
    align-self: flex-start;
    padding-left: 25px;
    font-size: 14px;
    font-family: "Aeonik";
    color: #444a58;
  }
  
  .Doc-form .column1,
  .column2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .Doc-form .column1 select {
    font-family: "Aeonik";
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 233, 241);
    box-sizing: border-box;
    padding: 12px ;
    width: 217px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #222;
  }
  .Doc-form .column1 .occupation{
    width: 216px;
    padding: 12px;
  }
  .Doc-form .column2 select {
    font-family: "Aeonik";
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 233, 241);
    box-sizing: border-box;
    padding: 12px ;
   width: 217px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #222;
  }
  
  .Doc-form input[type="text"],
  input[type="date"] {
    font-family: "Aeonik";
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 233, 241);
    box-sizing: border-box;
    padding: 12px 145px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 13px;
    margin-bottom: 20px;
    color: #222;
  }
  .Doc-form  input[type="date"] {
    font-family: "Aeonik";
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 233, 241);
    box-sizing: border-box;
    padding: 12px 165px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: #222;
  }
  
  .Doc-form input[type="file"] {
    font-family: "Aeonik";
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 233, 241);
    box-sizing: border-box;
    padding: 10px 76px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: rgb(34, 34, 34) !important;
  }
  .Doc-form  .purposes{
    font-family: "Aeonik";
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 233, 241);
    box-sizing: border-box;
    padding: 12px ;
    width: 453px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #222;
  }
  .rule ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .rule ul img {
    width: 16px;
  }
  
  .Doc-btn {
    width: 430px;
    height: 40px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    background: rgb(242, 242, 242);
    cursor: not-allowed;
  }
}
@media only screen and (min-width: 1200px){
  .Register-page {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
  }
  .Non-reg-form {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    background-image: url("./backgroungimg.svg");
  }
  .Non-reg-form .carousel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .Non-reg-form .img-part {
    padding: 30px 48px 0px 30px;
  }
  .Non-reg-form .img-part img {
    width: 170px;
  }
  .Non-reg-form .container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .Non-reg-form .container1 .swiper-container-1 .head h3 {
    font-size: 25px;
    font-family: "Aeonik", sans-serif;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    color: #333333;
  }
  .Non-reg-form .container1 .swiper-container-1 .head p {
    font-size: 15px;
    font-family: "Aeonik";
    font-weight: lighter;
    padding: 5px 10px 0px 10px;
    color: #808080;
  }
  .Non-reg-form .container2 {
    display: flex;
    padding-left: 100px;
    justify-content: space-around;
    align-items: flex-end;
  }
  .Non-reg-form .container2 .swiper-container-2 .swiper-slide {
    align-self: flex-end;
  }
  .Non-reg-form .container2 .swiper-container-2 img {
    width: 340px;
  }
  .Non-reg-form .container1 .swiper {
    width: 100%;
    height: 150px;
  }
  .Non-reg-form .container2 .swiper {
    width: 100%;
    height: 350px;
    margin-top: 12px;
  }
  .Non-reg-form .container1 .swiper-pagination {
    position: absolute;
    left: -190px;
    bottom: -3px;
  }
  .last-line {
    display: block;
    padding: 10px;
  }
  .line {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-family: "Aeonik";
    color: #808080;
  }
  .page {
    position: relative;
    left: 290px;
    width: 50%;
  }
}

